{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "!**/node_modules/**",
    "node_modules",
    "**/*.test.js",
    "src/actions/**",
    "src/reducers/**"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "sourceMap": false,
  "instrument": false,
  "all": true
}
