/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 :root{
   --main-yellow: #ffea00;
   --main-grey: #424242;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.testSample {
  background-color: #ffd600;
  height: 100vh;
  width: 100vw;
}

.collapsible-body {
  background-color: white;
}

#listAnswedQuestions-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 150%;
  text-align: center;
  background-color: var(--main-grey);
  color: var(--main-yellow);
}


#listAnswedQuestions-subtitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 125%;
  text-align: center;
  background-color: var(--main-grey);
  color: var(--main-yellow);
}


#listAnswedQuestions-desc {
  font-family: "Courier New", Courier, monospace;
  font-size: 100%;
  text-align: center;
  background-color: var(--main-grey);
  color: var(--main-yellow);
}

#paragraph_home_page {
  font-family: "Courier New", Courier, monospace;
  font-size: 120%;
  display: block;
  text-align: center;
  margin: 30px;
  margin-top: 100px;
  color: var(--main-grey);
}

#question-card {
  top: 20%;
  margin: 30px;
}
