/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.testSample {
  background-color: #ffea00;
  height: 100vh;
  width: 100vw;
}

.mainButtonS {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 85vh;
}

#paragraph_home_page {
  font-family: "Courier New", Courier, monospace;
  font-size: 120%;
  display: block;
  text-align: center;
  margin: 0 auto;
  /*position: absolute;*/
  /*top: 50vh;*/
  color: #424242;
}
